@import "./utils/variables";
@import "./components/btn";
@import "./base/common";

@import "./utils/reviews";

@import "./layouts/container";
@import "./base/reset";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/main";
@import "./layouts/about-us";
@import "./layouts/our-acttivity";
@import "./layouts/our-mission";
@import "./layouts/result";
@import "./layouts/donate";
@import "./layouts/bank-details";
@import "./layouts/gratitude";
@import "./layouts/write-us";
@import "./layouts/our-friends";
@import "./layouts/footer";

@import "./components/slides";
@import "./components/hamburger";
@import "./components/change-theme";
@import "./components/clipboard";
@import "./components/accordion";
@import "./components/public-offer";
@import "./components/custom-select";

// .dark {
//   background-color: #333;
//   color: #fff;
// }

// .light {
//   background-color: #f2f2f2;
//   color: #333;
// }

// .my-class {
//   color: white;
// }

// .light .my-class {
//   color: red;
// }

.top {
  top: 10px !important;
}

.error {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: $accent;
}
