<section id="about-us" class="about-us">
  <div class="content-wrap container">
    <div class="about-us__wrap">
      <h2 class="about-us__title">Про нас</h2>
      <p class="about-us__desc">БО БФ Авто Ангел Львів є не комерційною, не урядовою, не політичною благодійною
        організацією. Офіційно Авто Ангел
        засновано в листопаді 2022 року. До того часу вся волонтерська діяльність відбувалась виключно на власній
        ініціативі керівництва компаній TK_Standart та Oasis Habitats.
      </p>
      <p class="about-us__desc">Саме злагоджена робота керівників, партнерів і співробітників цих компаній і лежить в
        основі створення і
        діяльності нашої Організації.</p>
      <p class="about-us__desc">Наша діяльність фінансується пожетрвами різних людей і бізнесів. Кожен має змогу
        допомогти
        нашому фонду фінансово
        і не тільки. Ми цінуємо будь-яку допомогу, адже вся наша діяльність націлена лише на одне - якнайшвидше
        звільнення
        всієї України від російських окупантів.</p>
      <div class="about-us__nav-btn">
        <svg class="swiper-button-prev1 prev" width="30" height="30" style="fill: currentColor">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next1 next" width="30" height="30">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
    <div class="wrap-slider">

      <div class="swiper1" space-between="20" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <div class="swiper-wrapper">
          <div class="swiper-slide" lazy="true">
            <img src="./images/about-us.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/about-us2.jpeg" alt="#">
          </div>
        </div>
      </div>
      <div class="about-us__container">
        <p class="about-us__subtitle">Name Name, директор Фонду</p>
      </div>
    </div>
  </div>
</section>