<section id="contacts" class="donate container">
  <ul class="dontate-list">
    <h2 class="dontate-list__title">Швидкі кнопки для пожертв</h2>
    <ul class="donate-wrap">
      <li class="dontate-list__item">
        <a href="#" class="donate-list__link">
          <img src="./images/donate/donate1.png" alt="privat24" />
        </a>
      </li>
      <li class="dontate-list__item">
        <a href="#" class="donate-list__link">
          <img src="./images/donate/donate2.png" alt="monobank" />
        </a>
      </li>
      <li class="dontate-list__item">
        <a href="#" class="donate-list__link">
          <img src="./images/donate/donate3.png" alt="paypal" />
        </a>
      </li>
      <li class="dontate-list__item">
        <a href="#" class="donate-list__link">
          <img src="./images/donate/donate4.png" alt="patreon" />
        </a>
      </li>
    </ul>
  </ul>
  <ul class="contacts">
    <h2 class="contacts__title">Контакти організації</h2>
    <div class="contacts-item__wrap">
      <li class="contacts-item">
        <span class="contacts-item__text">Повна назва:</span>
        <div style="display: flex; width: 100%;">
          <p class="contacts-item__desc copy-text">Благодійна організація «Благодійний фонд «Авто Ангел Львів
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </p>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">Скорочена назва:</span>
        <div style="display: flex; width: 100%;">
          <p class="contacts-item__desc copy-text">БО «БФ «Авто Ангел Львів»
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </p>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">ЄДРПОУ:</span>
        <div style="display: flex; width: 100%;">
          <p class="contacts-item__desc copy-text">44878259
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </p>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">Адреса реєстрації:</span>
        <div style="display: flex; width: 100%;">
          <p class="contacts-item__desc copy-text">вул. Наукова 29/4, Львів
            79060, Україна
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </p>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">Директор:</span>
        <div style="display: flex; width: 100%;">
          <p class="contacts-item__desc copy-text">ОГІНОК Андрій Володимирович
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </p>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">№ телефону:</span>
        <div style="display: flex; width: 100%;">
          <a href="tel: +38 0676750107" class="contacts-item__desc copy-text">+38 0676750107 (усі месенджери)
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__text">E-пошта:</span>
        <div style="display: flex; width: 100%;">
          <a href="mailto:autoangel.lviv@gmail.com" class="contacts-item__desc copy-text">autoangel.lviv@gmail.com
            <svg class="contacts-item__icon" widt="16" height="16" style="fill: currentColor">
              <use href="./images/icons.svg#icon-copy"></use>
            </svg>
          </a>
        </div>
      </li>
    </div>
  </ul>
</section>