<footer class="footer">
  <div class="content-wrap container">
    <div class="wrap-left">
      <ul class="wrap-left__list">

        <a class="logo logo-footer" href="/">
          <svg class="icon-logo-footer" width="68" height="86">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <svg class="icon-logo-light logo-footer" width="68" height="86">
            <use href="./images/icons.svg#icon-logo-light"></use>
          </svg>
        </a>
        <div class="support">
          <span class="support__title">За підтримки</span>
          <img class="support" src="./images/supportukraine.png" alt="#">
        </div>
      </ul>
    </div>
    <div class="wrap-right">
      <ul class="wrap-right-list">
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Про нас</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Наша місія</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Наша діяльність</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Контакти</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Реквізити</a>
        </li>

        <a href="#donate" class="btn other --pos">Зробити пожертву</a>

        <p class="copyright">©2023 by Auto Angel.</p>
      </ul>
      <ul class="wrap-right-list">
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Подяка</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Написати нам</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Наші друзі</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Популярні питання</a>
        </li>
        <li class="wrap-right-item">
          <a href="#" class="wrap-right-item__link">Публічна оферта</a>
        </li>
      </ul>
      <ul class="footer-social-media">
        <li class="footer-social-media__footer-item">
          <svg width="24" height="24" class="insta">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>

        </li>
        <li class="footer-social-media__footer-item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </li>
      </ul>

      <div class="wrap-up">
        <button class="btn up">
          вгору
          <svg width="22px" height="22px" style="margin-left: 5px;">
            <use href="./images/icons.svg#icon-up"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</footer>