<footer class="footer container">
  <div class="wrap-left">
    <ul class="wrap-left__list" style="display: flex;">
      <h2 class="logo">LOGO</h2>
      <div class="support">
        <span>За підтримки</span>
        <img class="support" src="./images/supportukraine.png" alt="#">
      </div>
    </ul>
  </div>
  <div class="wrap-right">
    <ul class="wrap-right-list">
      <li class="wrap-right-item">
        <a class="wrap-right-item__link" href="#">Подяка</a>
      </li>
      <li class="wrap-right-item">
        <a class="wrap-right-item__link" href="#">Написати нам</a>
      </li>
      <li class="wrap-right-item">
        <a class="wrap-right-item__link" href="#">Наші друзі</a>
      </li>
      <li class="wrap-right-item">
        <a class="wrap-right-item__link" href="#">Популярні питання</a>
      </li>
      <li class="wrap-right-item">
        <a class="wrap-right-item__link" href="#">Публічна оферта</a>
      </li>
    </ul>
    <ul class="wrap-right2-list">
      <li class="wrap-right2-item">
        <a class="wrap-right2-item__link" href="">Про нас</a>
      </li>
      <li class="wrap-right2-item">
        <a class="wrap-right2-item__link" href="">Наша місія</a>
      </li>
      <li class="wrap-right2-item">
        <a class="wrap-right2-item__link" href="">Наша діяльність</a>
      </li>
      <li class="wrap-right2-item">
        <a class="wrap-right2-item__link" href="">Контакти</a>
      </li>
      <li class="wrap-right2-item">
        <a class="wrap-right2-item__link" href="">Реквізити</a>
      </li>

      <div class="social-media">
        <li class="header-info__item">
          <svg width="24" height="24" class="insta">
            <use href="./images/icons.svg#icon-insta"></use>
          </svg>
        </li>
        <li class="header-info__item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </li>
      </div>

      <button class="btn secondary">Зробити пожертву</button>
    </ul>

    <button class="btn up" style="color: white;">
      вгору
      <svg width="22px" height="22px">
        <use href="./images/icons.svg#icon-up"></use>
      </svg>
    </button>

    <p class="copyright">©2023 by Auto Angel.</p>
  </div>
</footer>