<footer class="footer container">
  <div class="wrap-left">
    <ul>
      <div class="logo"></div>
      <img class="support" src="./images/supportukraine.png" alt="#">
    </ul>
  </div>
  <div class="wrap-right">
    <ul>
      <li><a href="#">Подяка</a></li>
      <li><a href="#">Написати нам</a></li>
      <li><a href="#">Наші друзі</a></li>
      <li><a href="#">Популярні питання</a></li>
      <li><a href="#">Публічна оферта</a></li>
    </ul>
    <ul>
      <li><a href="">Про нас</a></li>
      <li><a href="">Наша місія</a></li>
      <li><a href="">Наша діяльність</a></li>
      <li><a href="">Контакти</a></li>
      <li><a href="">Реквізити</a></li>

      <div class="social-media">
        <li class="header-info__item">
          <svg width="24" height="24" class="insta">
            <use href="./images/icons.svg#icon-insta"></use>
          </svg>
        </li>
        <li class="header-info__item">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </li>
      </div>

      <button class="btn secondary">Зробити пожертву</button>
    </ul>

    <div>
      <button class="btn up">
        <svg width="22px" height="22px">
          <use href="./images/icons.svg#icon-up"></use>
        </svg>
      </button>
    </div>

    <p class="copyright">©2023 by Auto Angel.</p>
  </div>
</footer>