<section id="gratitude" class="gratitude">
  <ul class="gratitude-list container">
    <li class="gratitude-list__item">
      <h2 class="gratitude-list__item__title">Подяка</h2>
    </li>
    <div class="line"></div>
    <li class="gratitude-list__item">
      <p class="gratitude-list__desc">Ми вдячні всім, хто долучився до спільної справи і донатить на ЗСУ! Шлях до
        ПЕРЕМОГИ виявився довшим і
        тяжчим, ніж ми сподівались. Кожен метр української землі доводиться повертати дорогою ціною. Дякуємо, що не
        втомлюєтеся, що
        не втрачаєте віри, не опускаєте рук. Кожна гривня важлива! Кожен Ваш донат наближає ПЕРЕМОГУ!</p>
      <a href="#donate" class="btn primary">
        Зробити пожертву
      </a>
    </li>
  </ul>
</section>