<header>
  <h2>LOGO</h2>
  <nav>
    <a href="">Головна</a>
    <a href="">Публічна оферта</a>
  </nav>
  <ul>
    <li>
      <a href="">ua</a>
      <img src="" alt="">
    </li>
    <li>
      <a href="">en</a>
    </li>
  </ul>

  <ul>
    <li>
      <button>Зробити пожертву</button>
    </li>
    <li>
      <img src="" alt="">
    </li>
    <li>
      <img src="" alt="">
    </li>
    <li>
      <button>toggle click</button>
    </li>
  </ul>

  <div id="hamburger">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>