<main class="main">
  <section class="hero container">
    <div class="hero-wrap1">
      <h2 class="title hero__title">Благодійний фонд
        Авто Ангел</h2>
      <span class="toast">Нездоланні - коли об'єднані</span>
      <button class="btn secondary">Зробити пожертву</button>
    </div>
    <div class="hero-wrap2">
      <h3 class="hero__subtitle">Допомагаємо тим, хто бореться за нашу свободу. Автомобілі
        для ЗСУ і не тільки.</h3>
      <svg class="arrow-down" width="20px" height="20px">
        <use href="./images/icons.svg#icon-arrow-down">arrow-down</use>
      </svg>

    </div>

  </section>
</main>