<!-- #about">
#our-mission
#our-activity
#contacts">
#bank-details
#gratitude">
#сontact-us
#our-friends -->

<main class="main">
  <section class="hero container">
    <div class="hero-wrap1">
      <h2 class="title hero__title">Благодійний фонд
        Авто Ангел</h2>
      <span class="toast">Нездоланні - коли об'єднані</span>
      <button class="btn secondary">Зробити пожертву</button>
    </div>
    <div class="hero-wrap2">
      <h3 class="hero__subtitle">Допомагаємо тим, хто бореться за нашу свободу. Автомобілі
        для ЗСУ і не тільки.</h3>
      <svg class="arrow-down" width="20px" height="20px">
        <use href="./images/icons.svg#icon-down">arrow-down</use>
      </svg>
    </div>
  </section>

  <section class="about-us container">
    <div class="about-us__wrap">
      <!-- slider -->
      <h2 class="title">Про нас</h2>
      <p class="about-us__desc">БО БФ Авто Ангел Львів є не комерційною, не урядовою, не політичною благодійною
        організацією. Офіційно Авто Ангел
        засновано в листопаді 2022 року. До того часу вся волонтерська діяльність відбувалась виключно на власній
        ініціативі керівництва компаній TK_Standart та Oasis Habitats.
      </p>
      <p class="about-us__desc">Саме злагоджена робота керівників, партнерів і співробітників цих компаній і лежить в
        основі створення і
        діяльності нашої Організації.</p>
      <p class="about-us__desc">Наша діяльність фінансується пожетрвами різних людей і бізнесів. Кожен має змогу
        допомогти
        нашому фонду фінансово
        і не тільки. Ми цінуємо будь-яку допомогу, адже вся наша діяльність націлена лише на одне - якнайшвидше
        звільнення
        всієї України від російських окупантів.</p>
      <div class="nav-btn">
        <svg class="swiper-button-prev" width="30px" height="30px" style="color: red">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
        <svg class="swiper-button-next" width="30px" height="30px">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
      </div>
    </div>
    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="40" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-mission container">
    <div class="our-mission__wrap">
      <h2 class="title">Про нас</h2>
      <p class="our-mission__desc">БО БФ Авто Ангел Львів є не комерційною, не урядовою, не політичною благодійною
        організацією. Офіційно Авто Ангел
        засновано в листопаді 2022 року. До того часу вся волонтерська діяльність відбувалась виключно на власній
        ініціативі керівництва компаній TK_Standart та Oasis Habitats.
      </p>
      <!-- <div class="nav-btn">
        <svg class="swiper-button-prev" width="30px" height="30px" style="color: red">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
        <svg class="swiper-button-next" width="30px" height="30px">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
      </div> -->
    </div>
    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="40" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-activity container">
    <div class="our-activity__wrap">
      <h2 class="title">Про нас</h2>
      <p class="our-activity__desc">БО БФ Авто Ангел Львів є не комерційною, не урядовою, не політичною благодійною
        організацією. Офіційно Авто Ангел
        засновано в листопаді 2022 року. До того часу вся волонтерська діяльність відбувалась виключно на власній
        ініціативі керівництва компаній TK_Standart та Oasis Habitats.
      </p>
      <!-- <div class="our-activity__nav-btn">
        <svg class="swiper-button-prev" width="30px" height="30px" style="color: red">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
        <svg class="swiper-button-next" width="30px" height="30px">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
      </div> -->
    </div>
    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="40" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
          <div class="swiper-slide" lazy="true">
            <img src="./images/1.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/2.jpeg" alt="#">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="result container">
    <h3 class="result-title">Результати нашої роботи</h3>
    <ul class="result-list" style="display: flex; justify-content: center;">
      <li class="result-item">
        <p class="result-item__desc">Авто</pс>
          <span class="result-item__info">80 +</span>
      </li>
      <li class="result-item">
        <p class="result-item__desc">Рації</p>
        <span class="result-item__info">00шт +</span>
      </li>
      <li class="result-item">
        <p class="result-item__desc">Зібрано</p>
        <span class="result-item__info">0000грн +</span>
      </li>
    </ul>
  </section>
</main>