<!-- 
#hero
#about
#our-mission
#our-activity
#result
#donate
#bank-details
#gratitude"
#write-us
#our-friends-->

<main class="main">

  <section id="hero" class="hero container">
    <div class="hero-wrap1">
      <h2 class="title hero__title">Благодійний фонд
        Авто Ангел</h2>
      <span class="toast">Нездоланні - коли об'єднані</span>
      <button class="btn secondary --hidden-mobile">Зробити пожертву</button>
    </div>
    <div class="hero-wrap2">
      <h3 class="hero__subtitle">Допомагаємо тим, хто бореться за нашу свободу. Автомобілі
        для ЗСУ і не тільки.</h3>
      <button class="btn secondary --hidden-desktop">Зробити пожертву</button>
      <a class="arrow-down-link" href="#donate">
        <svg class="arrow-down" width="20px" height="20px">
          <use href="./images/icons.svg#icon-down">arrow-down</use>
        </svg></a>
    </div>
  </section>

  <section id="about-us" class="about-us container">
    <div class="about-us__wrap">
      <!-- slider -->
      <h2 class="about-us__title">Про нас</h2>
      <p class="about-us__desc">БО БФ Авто Ангел Львів є не комерційною, не урядовою, не політичною благодійною
        організацією. Офіційно Авто Ангел
        засновано в листопаді 2022 року. До того часу вся волонтерська діяльність відбувалась виключно на власній
        ініціативі керівництва компаній TK_Standart та Oasis Habitats.
      </p>
      <p class="about-us__desc">Саме злагоджена робота керівників, партнерів і співробітників цих компаній і лежить в
        основі створення і
        діяльності нашої Організації.</p>
      <p class="about-us__desc">Наша діяльність фінансується пожетрвами різних людей і бізнесів. Кожен має змогу
        допомогти
        нашому фонду фінансово
        і не тільки. Ми цінуємо будь-яку допомогу, адже вся наша діяльність націлена лише на одне - якнайшвидше
        звільнення
        всієї України від російських окупантів.</p>
      <div class="about-us__nav-btn">
        <svg class="swiper-button-prev prev" width="30" height="30">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next next" width="30" height="30">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="20" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <img src="./images/about-us.jpeg" alt="#">
          </div>
          <div class="swiper-slide partial-slide" lazy="true">
            <img src="./images/about-us2.jpeg" alt="#">
          </div>
        </div>
      </div>
      <div class="about-us__container">
        <p class="about-us__subtitle">Name Name, директор Фонду</p>
      </div>
    </div>
  </section>

  <section id="our-mission" class="our-mission container">
    <div class="our-mission__wrap">
      <h2 class="our-mission__title">Наша місія</h2>
      <p class="our-mission__desc">Найкращий результат досягається тоді, коли люди знають що вони роблять. У своїй
        волонтерській діяльності ми в БФ Авто Ангел Львів добре навчилися вирішувати короткі адресні задачі. Звідси і
        наша місія - максимально швидко забезпечувати протреби бойових підрозділів усім необхідним.
      </p>
      <div class="our-mission__nav-btn">
        <svg class="swiper-button-prev prev" width="30" height="30">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next next" width="30" height="30">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="40" slides-per-view="auto" pagination="true" pagination-clickable="true"
        lazy="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
          </div>
          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
          </div>
          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-activity" class="our-activity container">

    <div class="wrap-slider">
      <!-- Slider main container -->
      <div class="swiper" space-between="20" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" lazy="true">
            <div class="our-activity__wrap">
              <div class="our-activity__container">
                <h2 class="our-activity__title">Автомобілі для ЗСУ</h2>
                <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
                  коштів,
                  купуємо
                  авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
                  конкретного
                  підрозділу і відганяємо максимально близько до позицій.
                </p>
              </div>
              <div class="our-activity__nav-btn">
                <svg class="swiper-button-prev prev" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-right"></use>
                </svg>
                <svg class="swiper-button-next next" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-left"></use>
                </svg>
              </div>
              <img src="./images/our-activity.jpeg" alt="#">
            </div>
          </div>
          <div class="swiper-slide" lazy="true">
            <div class="our-activity__wrap">
              <div class="our-activity__container">
                <h2 class="our-activity__title">Автомобілі для ЗСУ</h2>
                <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
                  коштів,
                  купуємо
                  авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
                  конкретного
                  підрозділу і відганяємо максимально близько до позицій.
                </p>
              </div>
              <div class="our-activity__nav-btn">
                <svg class="swiper-button-prev prev" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-right"></use>
                </svg>
                <svg class="swiper-button-next next" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-left"></use>
                </svg>
              </div>
              <img src="./images/our-activity.jpeg" alt="#">
            </div>
          </div>
          <div class="swiper-slide" lazy="true">
            <div class="our-activity__wrap">
              <div class="our-activity__container">
                <h2 class="our-activity__title">Новий автомобіль</h2>
                <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
                  коштів,
                  купуємо
                  авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
                  конкретного
                  підрозділу і відганяємо максимально близько до позицій.
                </p>
              </div>
              <div class="our-activity__nav-btn">
                <svg class="swiper-button-prev prev" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-right"></use>
                </svg>
                <svg class="swiper-button-next next" width="30px" height="30px">
                  <use href="./images/icons.svg#icon-left"></use>
                </svg>
              </div>
              <img src="./images/our-activity.jpeg" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="result" class="result container">
    <h3 class="result-title">Результати нашої роботи</h3>
    <ul class="result-list">
      <li class="result-list__item">
        <h5 class="result-item__title">Авто</h5>
        <span class="result-item__info">80 +</span>
      </li>
      <li class="result-list__item">
        <h5 class="result-item__title">Рації</h5>
        <span class="result-item__info">00шт +</span>
      </li>
      <li class="result-list__item">
        <h5 class="result-item__title">Зібрано</h5>
        <span class="result-item__info">0000грн +</span>
      </li>
    </ul>
  </section>

  <section id="donate" class="donate container">
    <ul class="dontate-list">
      <h2 class="dontate-list__title">Швидкі кнопки для пожертв</h2>
      <div class="donate-wrap">
        <li class="dontate-list__item">
          <a href="#" class="donate-list__link">
            <img src="./images/donate/donate1.png" alt="privat24" />
          </a>
        </li>
        <li class="dontate-list__item">
          <a href="#" class="donate-list__link">
            <img src="./images/donate/donate2.png" alt="monobank" />
          </a>
        </li>
        <li class="dontate-list__item">
          <a href="#" class="donate-list__link">
            <img src="./images/donate/donate3.png" alt="paypal" />
          </a>
        </li>
        <li class="dontate-list__item">
          <a href="#" class="donate-list__link">
            <img src="./images/donate/donate4.png" alt="patreon" />
          </a>
        </li>
      </div>
    </ul>
    <ul class="contacts">
      <h2 class="contacts__title">Контакти організації</h2>
      <div class="contacts-item__wrap">
        <li class="contacts-item">
          <span class="contacts-item__text">Повна назва:</span>
          <p class="contacts-item__desc copy-text">Благодійна організація «Благодійний фонд «Авто Ангел Львів»
          </p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">Скорочена назва:</span>
          <p class="contacts-item__desc copy-text">БО «БФ «Авто Ангел Львів»</p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">ЄДРПОУ:</span>
          <p class="contacts-item__desc copy-text">44878259</p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">Адреса реєстрації:</span>
          <p class="contacts-item__desc copy-text">вул. Наукова 29/4, Львів
            79060, Україна</p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">Директор:</span>
          <p class="contacts-item__desc copy-text">ОГІНОК Андрій Володимирович</p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">№ телефону:</span>
          <p class="contacts-item__desc" copy-text>+38 0676750107 (усі месенджери)</p>
        </li>
        <li class="contacts-item">
          <span class="contacts-item__text">E-пошта:</span>
          <p class="contacts-item__desc copy-text">autoangel.lviv@gmail.com</p>
        </li>
      </div>
    </ul>
  </section>

  <section class="organization-details container">
    <div class="organization-details__wrap">
      <h2 class="organization-details__title">Реквізити організації</h2>
      <span class="organization-details__span">Дивитись документи</span>
    </div>
    <p class="organization-details__desc">Тут ви можете знайти інструкції щодо банківського переказу. Клікніть на
      рядок, щоб скопіювати його.</p>
  </section>

  <section id="bank" class="bank-details">

    <div class="bank-details__wrap container">

      <div class="bank-details-info">
        <h2 class="bank-details__title">Для платежів по Україні</h2>
        <div class="bank-details__accordion">
          <div class="accordion-item">
            <div class="accordion-toggle">&#8964;</div>
            <div class="accordion-header">UAH</div>
            <ul class="accordion-content">
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Найменування отримувача:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">БО БФ АВТО АНГЕЛ ЛЬВІВ</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Код одержувача:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">44878259</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Банк:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">АТ КБ Приватбанк</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">IBAN:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">UA803052990000026000011034648</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Номер картки:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">4246001003466368</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Призначення платежу:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">Благодійний внесок для допомоги ЗСУ</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>

      <div class="bank-details-info">
        <h2 class="bank-details__title">Для іноземних платежів</h2>
        <div class="bank-details__accordion">
          <div class="accordion-item">
            <div class="accordion-toggle">&#8964;</div>
            <div class="accordion-header">EUR</div>
            <div class="accordion-content">
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Company Name:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">CO Auto Angel Lviv CF</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">IBAN::</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">UA803052990000026000011034648</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <div class="content-item__wrap">
                    <p class="content-item__desc">Name of the bank:</p>
                    <div class="content-item__container">
                      <h5 class="content-item__info">JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE
                      </h5>
                      <span class="content-item__icon-copy">
                        <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                      </span>
                    </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Bank SWIFT Code:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">PBANUA2X</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">Commerzbank AG, Frankfurt am Main, Germany</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">SWIFT Code of the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">COBADEFF</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Account in the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">400886700401</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Reason of payment:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">Charitable contribution to help the AFU</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bank-details-info">
        <div class="bank-details__accordion">
          <div class="accordion-item">
            <div class="accordion-toggle">&#8964;</div>
            <div class="accordion-header">USD</div>
            <div class="accordion-content">
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Company Name:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">CO Auto Angel Lviv CF</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">IBAN:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">UA233052990000026003001037588</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Name of the bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001,UKRAINE
                    </h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Bank SWIFT Code:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">PBANUA2X</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">JP Morgan Chase Bank, New York</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">SWIFT Code of the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">CHASUS33</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Account in the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">001-1-000080</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Reason of payment:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">Charitable contribution to help the AFU</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bank-details-info">
        <div class="bank-details__accordion">
          <div class="accordion-item">
            <div class="accordion-toggle">&#8964;</div>
            <div class="accordion-header">GBP</div>
            <div class="accordion-content">
              <!-- <div class="wrap"> -->
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">Company Name:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">CO Auto Angel Lviv CF</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">IBAN:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">UA363052990000026003001030370</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Name of the bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001,
                      UKRAINE
                    </h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Bank SWIFT Code:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">PBANUA2X</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">J P Morgan Chase Bank, Bournemouth, UK</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="content">
                <li class="content-item">
                  <p class="content-item__desc">SWIFT Code of the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">CHASGB2L</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Account in the correspondent bank:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">24549501</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Sort code:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">609242</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
                <li class="content-item">
                  <p class="content-item__desc">Reason of payment:</p>
                  <div class="content-item__container">
                    <h5 class="content-item__info">Charitable contribution to help the AFU</h5>
                    <span class="content-item__icon-copy">
                      <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                    </span>
                  </div>
                </li>
              </ul>
              <!-- </div> -->
              <!-- <div class="wrap">
                <ul class="content">
                  <h2 class="bank-details__title">or private transfer to Wise account</h2>
                  <li class="content-item">
                    <p class="content-item__desc">Account holder:</p>
                    <div class="content-item__container">
                      <h5 class="content-item__info">Andrii Ohinok</h5>
                      <span class="content-item__icon-copy">
                        <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                      </span>
                    </div>
                  </li>
                  <li class="content-item">
                    <p class="content-item__desc">Sort code:</p>
                    <div class="content-item__container">
                      <h5 class="content-item__info">23-14-70</h5>
                      <span class="content-item__icon-copy">
                        <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                      </span>
                    </div>
                  </li>
                  <li class="content-item">
                    <div class="content-item__wrap">
                      <p class="content-item__desc">Account number:</p>
                      <div class="content-item__container">
                        <h5 class="content-item__info">47254279</h5>
                        <span class="content-item__icon-copy">
                          <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                        </span>
                      </div>
                  </li>
                </ul>
                <ul class="content">
                  <li class="content-item">
                    <p class="content-item__desc">IBAN:</p>
                    <div class="content-item__container">
                      <h5 class="content-item__info">GB03 TRWI 2314 7047 2542 79</h5>
                      <span class="content-item__icon-copy">
                        <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                      </span>
                    </div>
                  </li>
                  <li class="content-item">
                    <p class="content-item__desc">Bank’s address:</p>
                    <div class="content-item__container">
                      <h5 class="content-item__info">56 Shoreditch High Street, London E1 6JJ, United Kingdom</h5>
                      <span class="content-item__icon-copy">
                        <img width="17" height="17" src="./images/icon-copy.png" alt="copy">
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="gratitude" class="gratitude">
    <ul class="gratitude-list container">
      <li class="gratitude-list__item">
        <h2 class="gratitude-list__item__title">Подяка</h2>
      </li>
      <div class="line"></div>
      <li class="gratitude-list__item">
        <p class="gratitude-list__desc">Ми вдячна всім, хто долучився до спільної справи і донатить на ЗСУ! Шлях до
          ПЕРЕМОГИ виявився довшим і
          тяжчим, ніж ми сподівались. Кожен метр української землі доводиться повертати дорогою ціною. Дякуємо, що не
          втомлюєтеся, що
          не втрачаєте віри, не опускаєте рук. Кожна гривня важлива! Кожен Ваш донат наближає ПЕРЕМОГУ!</p>
        <button class="btn primary">
          Зробити пожертву
        </button>
      </li>
    </ul>
  </section>

  <section id="write-us" class="write-us container">
    <h2 class="write-us__title">Напишіть нам</h2>
    <form action="form" class="form">
      <div class="form-wrap">
        <div class="form-wrap-name">
          <label class="form-wrap-name__label-name" for="name">Ім’я*</label>
          <input class="form-wrap-name__field-name" id="name" type="text" name="name" placeholder="Як до вас звертатись"
            required>
        </div>
        <div class="form-wrap-number">
          <label class="form-wrap-number__label-number" for="GET-name">Номер телефону*</label>
          <input class="form-wrap-number__field-number" id="GET-name" type="text" name="name" placeholder="+380"
            required>
        </div>
      </div>
      <div class="form-wrap-select">
        <label for="GET-name">Тема*</label>
        <div class="cont_select_center">
          <div class="select_mate" data-mate-select="active">
            <select name="" onchange="" onclick="return false;" id="" placeholder="Бажаєте долучитись як волонтер">
              <option value="">Бажаєте долучитись як волонтер</option>
              <option value="1">w52345123412</option>
              <option value="2">Dropdown item</option>
              <option value="3">Dropdown item</option>
            </select>
            <p class="selecionado_opcion" onclick="open_select(this)"></p><span onclick="open_select(this)"
              class="icon_select_mate"><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                <path d="M0-.75h24v24H0z" fill="none" />
              </svg></span>
            <div class="cont_list_select_mate">
              <ul class="cont_select_int"> </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wrap-textarea">
        <label for="msg">Ваше повідомлення*</label>
        <textarea name="textarea" id="textarea" cols="30" rows="10"
          placeholder="Тут напишіть ваше звернення"></textarea>
      </div>
      <div class="choose-messenger">
        <legend>Оберіть бажаний месенджер*</legend>
        <label>
          <input type="radio" id="1" name="drone" value="1">
          <div class="choose-messenger__label">
            <label for="1">Telegram</label>
          </div>
        </label>
        <label>
          <input type="radio" id="2" name="drone" value="2">
          <div class="choose-messenger__label">
            <label for="2">Viber</label>
          </div>
        </label>
        <label>
          <input type="radio" id="3" name="drone" value="3">
          <div class="choose-messenger__label">
            <label for="3">Name</label>
          </div>
        </label>
        <label>
          <input type="radio" id="4" name="drone" value="4">
          <div class="choose-messenger__label">
            <label for="4">Name</label>
          </div>
        </label>
      </div>

      <button type="submit" class="btn other submit">Відправити повідомлення</button>
    </form>

  </section>

  <section id="our-friends" class="our-friends container">
    <div class="wrap-slider">
      <div class="swiper3" space-between="20" slides-per-view="auto" pagination="true" pagination-clickable="true">
        <ul class="swiper-wrapper our-friends-list">
          <li class="swiper-slide our-friends-list__item">
            <h2 class="our-friends-list__title">Наші друзі</h2>
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends1.jpg" alt="Цивіліцація | Європа">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends4.jpg" alt="Фонт підтримки">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends2.jpg" alt="Хто як не ми">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends3.jpg" alt="oOasis Habitats">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/supportukraine.png" alt="#">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends6.jpg" alt="TK_Standart">
          </li>
          <li class="swiper-slide our-friends-list__item">
            <img src="./images/our-friends/our-friends5.jpg" alt="ORC auction">
          </li>
          <li class="swiper-slide our-friends-list__item" style="display: flex; flex-direction: column;">
            <h5 class="our-friends-list__subtitle">Давайте наближати ПЕРЕМОГУ разом.</h5>
            <button class="btn secondary">Зробити пожертву</button>
          </li>
        </ul>
      </div>
    </div>

  </section>

  <section id="popular-questions" class="popular-questions container">
    <h2 class="popular-questions__title">Популярні питання</h2>
    <button class="accordion">Де я можу побачити звіти про витрачені кошти?</button>
    <div class="panel">
      <p class="panel__desc">Ми намагаємось бути на 100% прозорими у всіх аспектах. Фінансова звітність для нас — це
        одне з найважливіших
        питань прозорості...</p>
    </div>

    <button class="accordion">Де я можу побачити звіти про витрачені кошти?</button>
    <div class="panel">
      <p class="panel__desc">Ми намагаємось бути на 100% прозорими у всіх аспектах. Фінансова звітність для нас — це
        одне з найважливіших питань прозорості...</p>
    </div>

  </section>

</main>