<section class="organization-details container">
  <div class="organization-details__wrap">
    <h2 class="organization-details__title">Реквізити організації</h2>
    <a target="_blank" href="https://drive.google.com/file/d/1qIRTTtqNwmUXQp67z__mcoKGZ2zq4vcD/view?usp=drive_link"
      class="organization-details__span" download="">Дивитись документи</a>
  </div>
  <p class="organization-details__desc">Тут ви можете знайти інструкції щодо банківського переказу. Клікніть на
    рядок, щоб скопіювати його.</p>
</section>