<section id="our-friends" class="our-friends container">
  <div class="wrap-slider">
    <div class="swiper4" slides-per-view="auto" autoplay-delay="3000">
      <ul class="swiper-wrapper our-friends-list">
        <li class="swiper-slide our-friends-list__item">
          <h2 class="our-friends-list__title">Наші друзі</h2>
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends1.jpg" alt="Цивіліцація | Європа">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends4.jpg" alt="Фонт підтримки">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends2.jpg" alt="Хто як не ми">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends3.jpg" alt="oOasis Habitats">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/supportukraine.png" alt="#">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends6.jpg" alt="TK_Standart">
        </li>
        <li class="swiper-slide our-friends-list__item">
          <img src="./images/our-friends/our-friends5.jpg" alt="ORC auction">
        </li>
        <li class="swiper-slide our-friends-list__item" style="display: flex; flex-direction: column;">
          <h5 class="our-friends-list__subtitle">Давайте наближати ПЕРЕМОГУ разом.</h5>
          <a href="#donate" class="btn secondary">Зробити пожертву</a>
        </li>
      </ul>
    </div>
    <div class="our-friends__nav-btn">
      <svg class="swiper-button-prev4 prev" width="30" height="30">
        <use href="./images/icons.svg#icon-left"></use>
      </svg>
      <svg class="swiper-button-next4 next" width="30" height="30">
        <use href="./images/icons.svg#icon-right"></use>
      </svg>
    </div>
  </div>

</section>