<section id="our-activity" class="our-activity container">
  <div class="wrap-slider">
    <div class="swiper3" slides-per-view="auto">
      <h2 class="our-activity__title">Наша діяльність</h2>
      <div class="swiper-wrapper">
        <div class="swiper-slide" lazy="true">
          <div class="our-activity__wrap">
            <div class="our-activity__container">
              <h3 class="our-activity__sub-title">Автомобілі для ЗСУ</h3>
              <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
                коштів,
                купуємо
                авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
                конкретного
                підрозділу і відганяємо максимально близько до позицій.
              </p>
            </div>
            <img src="./images/our-activity.jpeg" alt="#">
          </div>
        </div>
        <div class="swiper-slide" lazy="true">
          <div class="our-activity__wrap">
            <div class="our-activity__container">
              <h3 class="our-activity__sub-title">Автомобілі для ЗСУ</h3>
              <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
                коштів,
                купуємо
                авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
                конкретного
                підрозділу і відганяємо максимально близько до позицій.
              </p>
            </div>
            <img src="https://img.autobytel.com/chrome/multiview/white/640/2022hyc03_640/2022hyc030017_640_01.jpg"
              alt="#">
          </div>
        </div>
      </div>
      <div class="our-activity__nav-btn">
        <svg class="swiper-button-prev3 prev" width="30px" height="30px">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next3 next" width="30px" height="30px">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>