<section id="our-activity" class="our-activity">
  <div class="content-wrap container">
    <div class="our-activity__wrap">
      <h2 class="our-activity__title">Наша діяльність</h2>
      <h3 class="our-activity__sub-title">Автомобілі для ЗСУ</h3>
      <p class="our-activity__desc">Ми спілкуємося з бійцями щоб зрозуміти їхні потреби, оголошуємо збір
        коштів,
        купуємо
        авто в різних країнах, приганяємо його в Україну, ремонтуємо, обладнуємо відповідно до потреб
        конкретного
        підрозділу і відганяємо максимально близько до позицій.
      </p>
      <div class="our-activity__nav-btn">
        <svg class="swiper-button-prev3 prev" width="30" height="30">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next3 next" width="30" height="30">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>

    <div class="wrap-slider">
      <div class="swiper3" slides-per-view="auto">

        <div class="swiper-wrapper">
          <div class="swiper-slide" lazy="true">
            <img src="./images/our-activity.jpeg" alt="#">
            <div class="wrap-slider__container">
              <p class="wrap-slider__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>
          <div class="swiper-slide" lazy="true">
            <img
              src="https://imgd-ct.aeplcdn.com/664x415/n/cw/ec/144163/carens-exterior-right-front-three-quarter.jpeg?isig=0&q=75"
              alt="#">
            <div class="wrap-slider__test">
              <p class="wrap-slider__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>