<section id="our-mission" class="our-mission">
  <div class="content-wrap container">
    <div class="our-mission__wrap">
      <h2 class="our-mission__title">Наша місія</h2>
      <p class="our-mission__desc">Найкращий результат досягається тоді, коли люди знають що вони роблять. У своїй
        волонтерській діяльності ми в БФ Авто Ангел Львів добре навчилися вирішувати короткі адресні задачі. Звідси і
        наша місія - максимально швидко забезпечувати протреби бойових підрозділів усім необхідним.
      </p>
      <div class="our-mission__nav-btn">
        <svg class="swiper-button-prev2 prev" width="30" height="30">
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg class="swiper-button-next2 next" width="30" height="30">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
    <div class="wrap-slider">
      <div class="swiper2" slides-per-view="auto" lazy="true" centered-slides="true">
        <div class="swiper-wrapper">
          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
            <div class="about-us__container">
              <p class="about-us__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>

          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
            <div class="about-us__container">
              <p class="about-us__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>

          <div class="swiper-slide" lazy="true">
            <img src="./images/our-mission.jpeg" alt="#">
            <div class="about-us__container">
              <p class="about-us__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>

          <div class="swiper-slide" lazy="true">
            <img src="https://carwow-uk-wp-3.imgix.net/18015-MC20BluInfinito-scaled-e1666008987698.jpg" alt="#">
            <div class="about-us__container">
              <p class="about-us__subtitle">Name Name, директор Фонду</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>