<section id="popular-questions" class="popular-questions container">
  <h2 class="popular-questions__title">Популярні питання</h2>
  <button class="accordion">Де я можу побачити звіти про витрачені кошти?</button>
  <div class="panel">
    <p class="panel__desc">Ми намагаємось бути на 100% прозорими у всіх аспектах. Фінансова звітність для нас — це
      одне з найважливіших
      питань прозорості...</p>
  </div>

  <button class="accordion">Де я можу побачити звіти про витрачені кошти?</button>
  <div class="panel">
    <p class="panel__desc">Ми намагаємось бути на 100% прозорими у всіх аспектах. Фінансова звітність для нас — це
      одне з найважливіших питань прозорості...</p>
  </div>

</section>