<main class="main container">
  <section class="public-offer">
    <h2 class="public-offer__title">Публічна оферта</h2>

    <p class="public-offer__desc">
      Ця публічна оферта про надання благодійної пожертви (далі – Оферта) адресована невизначеному колу фізичних та
      юридичних осіб – відвідувачів веб-сайту БЛАГОДІЙНОЇ ОРГАНІЗАЦІЇ «БЛАГОДІЙНИЙ ФОНД «АВТО АНГЕЛ ЛЬВІВ» (БО БФ «АВТО
      АНГЕЛ ЛЬВІВ» в мережі Інтернет https://autoangel.org.ua (далі – Сайт), і є офіційною і публічною пропозицією БО БФ
      «АВТО АНГЕЛ ЛЬВІВ» (ідентифікаційний код 44878259) (далі – Організація) в особі директора ОГІНКА Андрія
      Володимировича, що діє на підставі Статуту, укласти договір про благодійну пожертву (далі – Договір), предмет та
      істотні умови якого вказані нижче:
    </p>

    <ul class="public-offer-list">
      <li class="public-offer-item">
        <h2 class="public-offer-item__title">Терміни та визначення:</h2>
        <p class="public-offer-item__desc">
          Акцепт – повне і безумовне прийняття Оферти шляхом вчинення дій щодо здійснення грошового переказу за
          допомогою
          платіжних форм та засобів, розміщених на Сайті, а також шляхом перерахування грошових коштів на поточний
          рахунок
          Організації через установи банків на підставі даних Сайту (наприклад, оголошення про публічний збір
          благодійних
          пожертв на певну мету з реквізитами Організації тощо). Акцепт означає прийняття Благодійником та його згоду з
          усіма
          положеннями Оферти та Договору і, відповідно, укладення цього Договору між Організацією та Благодійником.
          Моментом
          Акцепту є проставлення відмітки на відповідній сторінці Сайту навпроти слів «Я приймаю умови публічної оферти
          Організації» та здійснення грошового переказу за допомогою платіжних форм та засобів, розміщених на Сайті,
          або,
          незалежно від будь-яких дій Благодійника на Сайті, здійснення переказу через установу банку.
          Благодійна пожертва – грошові кошти, що перераховуються Організації на підставі цього Договору.
          Благодійник – дієздатна фізична або юридична особа, що здійснила Акцепт Оферти.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Предмет Договору.</h2>
        <p class="public-offer-item__desc">
          Предметом цього Договору є безоплатна і добровільна передача Благодійником у власність Організації грошових
          коштів,
          шляхом здійснення благодійної пожертви на здійснення статутної діяльності Організації. Благодійник самостійно
          визначає розмір благодійного пожертвування. Організація самостійно визначає напрями використання
          благодійної
          пожертви в рамках власної статутної діяльності, якщо інше не визначено Благодійником в порядку, визначеному
          цим
          Договором. Предметом цього Договору не є отримання прямо чи опосередковано прибутку жодною із Сторін Договору.
          Благодійник розуміє та погоджується з тим, що його благодійна пожертва буде використана на досягнення цілей,
          передбачених Статутом Організації, з яким він може ознайомитися, надіславши запит на електронну адресу
          autoangel.lviv@gmail.com.
          В разі, якщо Благодійник вказує у призначенні платежу призначення, вказане у відповідному оголошенні про
          публічний
          збір благодійних пожертв на конкретну мету (реалізацію благодійних програми або проекту, допомогу конкретному
          бенефіціару), розміщеному на Сайті, Організація зобов’язується використовувати благодійну пожертву на цілі,
          вказані
          Благодійником. У випадку, коли отримана Організацією благодійна пожертва Благодійника не може бути використана
          на
          зазначену мету через об’єктивні причини (у зв’язку зі збором достатнього для реалізації мети обсягу
          благодійних
          пожертв, відпадінням потреби у наданні допомоги тощо), Благодійник погоджується, а Організація має право і
          зобов’язується використати благодійну пожертву Благодійника на аналогічні цілі в рамках статутної діяльності
          Організації.
          На підставі ст.ст. 207, 639, 641, 642 Цивільного кодексу України, з моменту Акцепту цей Договір вважається
          укладеним
          у письмовій формі.
        </p>
      </li>
      <li class="public-offer-item">
        <h2 class="public-offer-item__title">Права та обов’язки Організації.</h2>
        <p class="public-offer-item__desc">
          Організація має право:

          Отримувати благодійні пожертви і використовувати їх відповідно до предмету та умов цього Договору та Статуту
          Організації;
          Без погодження з Благодійником змінювати цілі, напрями і завдання використання благодійної пожертви в рамках
          статутної діяльності Організації, за винятком випадків, вказаних у п. 2 цього Договору.
          Без погодження з Благодійником використовувати благодійну пожертву на адміністративні витрати Організації в
          розмірі
          не більшому, ніж це передбачено законодавством України.

          Організація зобов’язана:

          Використовувати отримані благодійні пожертви відповідно до предмету та умов цього Договору та Статуту
          Організації;
          Звітувати про використання благодійних пожертв у порядку, визначеному цим Договором.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title" style="margin-bottom: 25px;">Права Благодійника.</h2>
        <ul class="public-offer-item__list">
          Благодійник має право:
          <li style="list-style: disc;">
            <p>Здійснювати контроль за цільовим використанням благодійної пожертви, наданої згідно п. 2 цього Договору;
            </p>
          </li>
          <li style="list-style: disc;">
            <p> Здійснювати пожертву скільки завгодно разів у бідь-якому розмірі;</p>
          </li>
          <li style="list-style: disc;">
            <p> Закликати інших людей ставати благодійниками Організації.</p>
          </li>
        </ul>
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Місце проведення публічного збору благодійних пожертв.</h2>
        <p class="public-offer-item__desc">
          Публічний збір благодійних пожертв проводиться на території будь-якої з країн світу. Безпосередня діяльність
          Організації, що стосується публічного збору пожертв за Договором, проводиться згідно його Статуту.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Строк публічного збору благодійних пожертв.</h2>
        <p class="public-offer-item__desc">
          Публічний збір благодійних пожертв на підставі цього Договору здійснюється протягом всього строку діяльності
          Організації до моменту його припинення, якщо інше не визначено рішенням компетентних органів управління
          Організації.
          У випадках, передбачених п. 2 цього Договору, публічний збір благодійних пожертв проводиться протягом строків,
          вказаних у відповідному оголошенні про публічний збір благодійних пожертв на конкретну мету.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Порядок використання благодійних пожертв.</h2>
        <p class="public-offer-item__desc">
          Використання зібраних за Договором благодійних пожертв проводиться у відповідності з метою, цілями, напрямами
          та
          завданнями діяльності Організації, визначеними у її Статуті, а у випадках, передбачених п. 4 цього Договору, –
          визначеними у відповідному оголошенні про публічний збір благодійних пожертв на конкретну мету. Отримані
          Організацією благодійні пожертви можуть бути повернуті Благодійникові у випадках, передбачених законодавством
          України.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Відповідальність Організації.</h2>
        <p class="public-offer-item__desc">
          Відповідальність Організації за порушення цього Договору або порядку використання благодійних пожертв наступає
          на
          підставах, в розмірі та в порядку, визначених вимогами чинного законодавства України.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title">Звітність про використання благодійних пожертв.</h2>
        <p class="public-offer-item__desc">
          Доступ до звітів про використання благодійних пожертв надається Організацією у порядку і в строки, передбачені
          чинним законодавством України. Організація може оприлюднювати звітність про використання благодійних пожертв
          на
          Сайті.
        </p>
      </li>
      <li class="public-offer-list__item">
        <h2 class="public-offer-item__title" style="margin-bottom: 25px;">Прикінцеві положення.</h2>
        <ul class="public-offer-item__list">
          <li style="list-style: disc;">
            <p>
              Всі витрати по сплаті сум (комісій, зборів, податків тощо), пов’язаних з перерахуванням і зарахуванням
              благодійної
              пожертви, несе Благодійник.
            </p>
          </li>
          <li style="list-style: disc;">
            <p>
              Благодійник згоден з тим, що Організація має право, без згоди Благодійника, оприлюднити у власній
              звітності,
              на
              Сайті або в будь-якому ЗМІ чи соціальній мережі прізвище, ім’я та по батькові або найменування
              Благодійника як
              благодійника Організації.
            </p>
          </li>
          <li style="list-style: disc;">
            <p>
              Акцепт також означає, що Благодійник – фізична особа повідомлений(а) і згодний(а), що Благодійник надає
              Організації
              безумовну згоду на обробку його(її) персональних даних, наданих при відвідуванні Сайту та/або здійсненні
              грошового
              переказу (далі – персональні дані), та повідомлений(а) про включення такої інформації до бази персональних
              даних
              Організації та про всі права щодо захисту його(її) персональних даних, передбачені чинним законодавством
              України, а
              саме ст. 8 Закону України «Про захист персональних даних»
            </p>
          </li>

        </ul>
      </li>
    </ul>
  </section>

</main>