<section id="write-us" class="write-us container">
  <h2 class="write-us__title">Напишіть нам</h2>
  <form action="form" class="form">
    <div class="form-wrap">
      <div class="form-wrap-name">
        <label class="form-wrap-name__label-name" for="name">Ім’я*</label>
        <input class="form-wrap-name__field-name" id="name" type="text" name="name" placeholder="Як до вас звертатись"
          required>
      </div>
      <div class="form-wrap-number">
        <label class="form-wrap-number__label-number" for="GET-name">Номер телефону*</label>
        <input class="form-wrap-number__field-number" id="GET-name" type="number" name="name" placeholder="+380"
          required>
      </div>
    </div>
    <div class="form-wrap-select">
      <label class="form-wrap-select__label" for="GET-name">Тема*</label>
      <select id="mySelect" placeholder="Бажаєте долучитись як волонтер" required>
        <option value="1">Бажаєте долучитись як волонтер</option>
        <option value="2">Dropdown item</option>
        <option value="3">Dropdown item</option>
        <option value="4">Dropdown item</option>
      </select>
    </div>
    <div class="form-wrap-textarea">
      <label class="form-wrap-label" for="msg">Ваше повідомлення*</label>
      <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Тут напишіть ваше звернення" required></textarea>
    </div>
    <div class="choose-messenger">
      <legend>Оберіть бажаний месенджер*</legend>
      <label>
        <input type="radio" id="1" name="Name" value="Telegram" required>
        <div class="choose-messenger__label">
          <label for="1">Telegram</label>
        </div>
      </label>
      <label>
        <input type="radio" id="2" name="Name" value="Viber" required>
        <div class="choose-messenger__label">
          <label for="2">Viber</label>
        </div>
      </label>
      <label>
        <input type="radio" id="3" name="Name" value="Facebook" required>
        <div class="choose-messenger__label">
          <label for="3">Facebook</label>
        </div>
      </label>
      <label>
        <input type="radio" id="4" name="Name" value="Name" required>
        <div class="choose-messenger__label">
          <label for="4">Name</label>
        </div>
      </label>
    </div>

    <button type="submit" class="btn other submit">Відправити повідомлення</button>
  </form>

</section>