.popular-questions {
  padding-top: $padding;
  padding-bottom: $padding;
  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
    margin-bottom: 40px;
  }
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  padding: 40px 40px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #505050;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;

  color: #e8e8e8;

  &.active::after {
    content: "\2212" !important;
  }

  &:hover {
    background-color: transparent;
  }

  &:after {
    content: "\002B";
    color: $background;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
}

.panel {
  padding: 0 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: $background;

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    padding: 24px 16px;

    color: $background;
  }
}
