.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background: $primary;
  border: 1px solid $primary;
  border-radius: 7px;
  color: $background;
  padding: 14px 72px;
  transition: all 0.6ms ease-in;
  &:hover,
  &:focus {
    background: $accent;
    border: 1px solid $accent;
    border-radius: 7px;
  }
}

.secondary {
  gap: 8px;
  width: 291px;
  height: 47px;
  background: $background;
  border: 1px solid $background;
  border-radius: 7px;
  color: $primary;
  transition: all 0.6ms ease-in;
  padding: 14px 72px;

  &:hover,
  &:focus {
    color: $white;
    background: $accent;
    border: 1px solid $accent;
    border-radius: 7px;
  }
}

// btns

.other {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: $background;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 8px;
  width: auto;
  height: 43px;
  border: 1px solid $background;
  border-radius: 7px;
  background: transparent;
  &:hover,
  &:focus {
    background: $accent;
    border-radius: 7px;
    color: $background;
  }
}
