$darkbg: $background;
$whiteclr: $primary;
$lightbg: $background;
$lightt: $primary;

$bgColor--night: $tertiary;
$toggleBtn-bgColor--night: $bgColor--night;
$bgColor--day: $primary;
$toggleBtn-bgColor--day: $bgColor--day;

body {
  transition: all 0.3s ease-in-out;
  color: $whiteclr;
}
.light {
  background: $background !important;
  color: $lightt;

  .header {
    background: $background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  p,
  span {
    color: $primary;
  }

  .menu-btn span {
    background-color: $primary;
  }

  button {
    color: $primary;
    border-color: $primary;
  }

  border-color: $primary;

  .menu.active {
    background: $primary;
    .menu-link,
    .mobile-title {
      color: $white;
    }
  }

  .hero {
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
    &:after {
      background: $primary;
    }
  }

  .arrow-down {
    fill: $primary !important;
  }
}
.tdnn {
  border-radius: 11px;
  cursor: pointer;
  width: 48px;
  height: 28px;
  position: relative;
  @include mobile {
    top: -30px;
    margin-left: auto;
  }
}
.day {
  background: $primary;
  color: $lightt;
}
.moon {
  width: 16px;
  height: 16px;
  left: calc(50% - 16px / 2 + 11.56px);
  top: calc(50% - 16px / 2);
  border-radius: 40px;
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  transform: rotate(-75deg);
  background: $bgColor--night;
  background: $primary;
  width: 16px;
}
.sun {
  width: 16px;
  height: 16px;
  border-radius: 40px;
  position: absolute;
  transform: rotate(0deg);
  background: $white;
  left: calc(0% + 3.56px);
  top: calc(50% - 16px / 2);
}
