.public-offer {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: $background;
  ul li {
    list-style-type: disc;

    &::marker {
      font-size: 1.3em;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
  }

  &__desc {
    margin-bottom: 16px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
  }

  .public-offer-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.public-offer-item {
  margin-top: 40px;
  margin-bottom: 40px;
  &__desc {
    margin-top: 40px;
  }
}
