.swiper {
  width: 100%;
  height: auto;
}

.swiper3 {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.wrap-slider {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  @include tablet {
    width: 100% !important;
  }
}

// .swiper-slide img {
//   // display: block;
//   // width: 100%;
//   height: auto;
//   background-size: contain;
//   // background-size: contain;
//   // background-repeat: no-repeat;
// }
