.swiper {
  width: 100%;
  height: auto;
}

.swiper3 {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  // @include laptop {
  //   height: 500px;
  // }
}

.wrap-slider {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
