.swiper {
  width: 100%;
  height: auto;
}

.swiper3 {
  overflow: hidden;
}

.wrap-slider {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
