// about-us

.about-us {
  display: block;
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  @include laptop {
    display: flex;
    padding-top: $padding;
    padding-bottom: $padding;
    border-bottom: 2px solid $background;
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: $background;
    @include mobile {
      margin-bottom: 16px;
    }

    @include laptop {
      width: 529px;
      line-height: 1.57;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__wrap {
    @include mobile {
      margin-bottom: 36px;
    }
    @include tablet {
      margin-bottom: 50px;
    }
    @include laptop {
      position: relative;
      padding-right: 106px;
    }
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: $background;
    margin-bottom: 16px;
    @include laptop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
    margin-top: 36px;
  }

  &__nav-btn {
    position: absolute;
    bottom: 50px;
    right: 40px;
    display: flex;
    z-index: 99999;

    .swiper-button-prev1 {
      margin: 0 25px;
    }

    .swiper-button-prev1,
    .swiper-button-next1 {
      fill: $white;
      &:hover,
      &:focus {
        fill: $accent;
      }
    }

    @include laptop {
      display: flex;
      bottom: 50px;
      left: 64%;

      .swiper-button-prev1 {
        margin: 0 25px;
      }
      .swiper-button-next1 {
        &:hover,
        &:focus {
          fill: $accent;
        }
      }
    }

    @include tablet {
      display: flex;
      bottom: 50px;
      right: 150px;
    }
  }

  > .content-wrap {
    display: block;
    @include laptop {
      display: flex;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
  }
}

.prev,
.next {
  width: 24px;
  height: 24px;
}
