// band-details

.organization-details {
  padding-top: 56px;
  padding-bottom: 40px;
  @include laptop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 108px;
    padding-bottom: 56px;
  }

  &__wrap {
    width: 100%;
    word-break: break-all;
    @include laptop {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    @include mobile {
      margin-bottom: 16px;
    }
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
  }

  &__span {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: $accent;
    margin-left: auto;
    @include laptop {
      color: $background;
      &:hover,
      &:focus {
        color: $accent;
      }
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    margin-top: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.bank-details {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  background: $background2;

  @include laptop {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &__wrap {
    @include mobile {
      width: 100%;
    }
  }

  &__title {
    margin-top: 56px;
    margin-bottom: 32px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $primary;
  }

  &__accordion {
    margin-top: 60px;
    @include laptop {
      padding-right: 60px;
    }
  }
}

.accordion-item {
  border-bottom: 1px solid $background;
}

.accordion-toggle {
  @include mobile {
    margin-top: 0;
  }
  font-weight: bold;
  float: right;
  color: $primary;
  cursor: pointer;
  transition: all 200ms ease;
}

.accordion-item.active {
  .accordion-toggle {
    transform: rotate(180deg);
    transition: all 200ms ease;
  }
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $accent;

  @include laptop {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}

.accordion-content {
  flex-direction: column;
  display: none;
  color: $primary;
  word-wrap: break-word;
  margin-bottom: 56px;
  @include laptop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    display: none;
    color: $primary;
  }
}

.content-item {
  position: relative;
  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: $subtitle;
    margin-top: 24px;
  }

  &__container {
    display: flex;
    align-items: baseline;
    word-break: break-all;
  }

  &__info {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $primary;
    margin-top: 10px;

    &:hover,
    &:focus {
      color: $accent;
      cursor: pointer;
    }

    > .content-item__icon {
      width: 17px;
      height: 17px;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $accent;
      }
    }
  }
}

.--max-width {
  max-width: 660px;
}

.content-list {
  @include laptop {
    width: 60%;
    padding-right: 60px;
  }
}

.details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.bank-details-container {
  display: block;
  @include laptop {
    display: flex;
    justify-content: space-between;
  }
}

.wrap {
  display: block;
  @include laptop {
    display: flex;
  }
}

.wrap2 {
  display: block;
}
