// band-details

.organization-details {
  padding-top: 56px;
  padding-bottom: 40px;
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 108px;
    padding-bottom: 56px;
  }

  &__wrap {
    @include desktop {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    @include mobile {
      margin-bottom: 16px;
    }
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
  }

  &__span {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: $background;
    margin-left: auto;
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    margin-top: 16px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.bank-details {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  background: $background2;

  @include desktop {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &__title {
    margin-top: 56px;
    margin-bottom: 32px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $primary;
  }

  &__accordion {
    margin-top: 60px;
    @include desktop {
      padding-right: 60px;
    }
  }
}

.accordion-item {
  border-bottom: 1px solid $background;
}

.accordion-toggle {
  margin-top: -21px;
  font-size: 41px;
  font-weight: bold;
  float: right;
  color: $primary;
  cursor: pointer;
  transition: all 200ms ease;
  @include desktop {
    margin-bottom: 10px;
    font-size: 25px;
  }
}

.accordion-item.active {
  .accordion-toggle {
    transform: rotate(180deg);
    transition: all 200ms ease;
  }
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: $accent;

  @include desktop {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}

// .accordion-content:first-of-type {
//   display: flex;
// }

.accordion-content {
  flex-direction: column;
  display: none;
  color: $primary;
  word-wrap: break-word;
  margin-bottom: 56px;
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    display: none;
    color: $primary;
  }
}

.content-item {
  position: relative;
  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: $subtitle;
    margin-top: 24px;
  }

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__info {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $primary;
    margin-top: 10px;
    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }

  &__icon-copy {
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: $accent;
    }
  }
}

.--max-width {
  max-width: 660px;
}

.content {
  @include desktop {
    padding-right: 60px;
  }
}
