.container {
  margin: 0 auto;
  width: 100%;
}

@include mobile {
  .container {
    min-width: 375px;
    padding: 0 20px;
  }
}
@include tablet {
  .container {
    width: 768px;
    padding: 0 25px;
  }
}
@include laptop {
  .container {
    width: 1440px;
    padding: 0 100px;
  }
}
