.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap-right {
  padding-top: 132px;
  padding-bottom: 132px;
}

.up {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: transparent;
}
