.footer {
  display: block;
  @include desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $background;
  }
}

.wrap-left {
  padding: 132px 53px;
}

.support {
  display: flex;
  flex-direction: column;
  color: white;
}

.wrap-right {
  @include desktop {
    padding-top: 132px;
    padding-bottom: 132px;
    display: flex;
    margin-left: 103px;
    margin-bottom: 40px;
  }
}

.wrap-right-list {
  align-items: center;
  margin-right: 68px;
}

.wrap-right-item {
  display: flex;
  align-items: flex-start;
  &__link {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
  }
}

.wrap-right2-item {
  &__link {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
  }
}

.up {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: transparent;
}
