.footer {
  display: block;
  position: relative;
  @include desktop {
    padding-top: 70px;
    padding-bottom: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $background;
  }
}

.logo-footer {
  margin-right: 142px;
}

.icon-logo-footer {
  width: 108px;
  height: 139px;
}

// left

.wrap-left {
  &__list {
    display: flex;
    align-items: center;
  }
}

.support {
  display: flex;
  flex-direction: column;
  color: $white;
  &__title {
    margin-bottom: 16px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
  }
}

.wrap-right {
  @include desktop {
    display: flex;
    margin-left: 103px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 47%;
      background: $background;
      width: 2px;
      height: 100%;
      display: block;
    }
  }
}

// right

.wrap-right-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.wrap-right-list:nth-last-child(2) {
  margin-left: 58px;
}

.wrap-right-item {
  &__link {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
    &:hover, &:focus {
      color: $accent;
    }
  }
}

// up

.wrap-up {
  position: relative;

  .up {
    display: none;
    position: absolute;
    fill: $white;
    width: auto;
    bottom: 100px;
    right: 50%;
    cursor: pointer;
    z-index: 99;
    border: none;
    background: transparent;
    .up-text {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: $background;
      margin-right: 8px;
    }
  }
}

.up,
.up-text {
  &:hover {
    fill: $accent;
    color: $accent !important;
  }
}

.--pos {
  margin-top: 40px;
}

.copyright {
  margin-top: 40px;
}

.social-media {
  margin-left: 68px;
}
