.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 22px;
  background: $primary;
  @include laptop {
    display: flex;
    align-items: center;
    padding: 22px 100px 22px 100px;
  }
}

.logo {
  @include mobile {
    color: $background;
    .icon-logo {
      width: 49px;
      height: 63px;
    }
  }
  @include laptop {
    color: $background;
  }
}

.icon-logo-light {
  display: none;
}

.nav {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }

  @include laptop {
    margin-left: 48px;

    &__link {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      color: $background;
      &:hover,
      &:focus {
        color: $accent;
      }
      &:not(:last-child) {
        margin-right: 23px;
      }
    }

    .current {
      text-decoration-line: underline;
    }
  }
}

.header-langs {
  margin-left: auto;
  @include mobile {
    display: flex;
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      &:nth-child(2n) {
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 20px;
          border: 1px solid $white;
          position: absolute;
          left: -10px;
          display: block;
        }

        &:last-child {
          margin-left: 10px;
        }
      }
    }
    &__link {
      color: $white;
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      color: $background;
      margin-right: 10px;

      .current-link {
        color: $secondary;
      }
    }
    .icon-ua,
    .icon-en {
      width: 18px;
      height: 17px;
      border-radius: 40px;
      margin-right: 10px;
    }
  }
  @include tablet {
    display: flex;
    &__item {
      display: flex;
      align-items: center;
    }
    &__link {
      color: $white;
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      color: $background;
      margin-right: 10px;
    }
    .icon-ua,
    .icon-en {
      width: 18px;
      height: 17px;
      border-radius: 40px;
      margin-right: 10px;
    }
  }
  @include laptop {
    display: flex;
    margin-left: 48px;
    position: relative;
    &__item {
      display: flex;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 20px;
        border: 1px solid $white;
        position: absolute;
        left: 51px;
        display: block;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
    &__link {
      color: $white;
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      color: $background;
      margin-right: 5px;
      text-transform: uppercase;
    }

    .icon-ua,
    .icon-en {
      width: 18px;
      height: 17px;
      border-radius: 40px;
    }
  }
}

.header-info {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__item {
      margin-right: 40px;
    }
  }
}

.header-social-media {
  display: flex;
  width: 11px;
  height: 20px;
  @include laptop {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $white;
    height: 100%;
  }

  &__item {
    transition: all 0.6ms ease-in;
    margin-left: 16px;
    &:hover,
    &:focus {
      fill: $accent;
    }
  }
}

.other-mobile {
  color: $primary;
  border: 1px solid $primary;
}
