.hero {
  border-top: 2px solid $background;
  border-bottom: 2px solid $background;

  @include mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: $padding-mobile;
    padding-bottom: $padding-mobile;
    margin-bottom: $padding-mobile;
  }
  @include tablet {
    padding: 0 20px;
    padding-top: $padding-mobile;
    padding-bottom: $padding-mobile;
  }

  @include laptop {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    padding: 0;
    padding-top: $padding;
    padding-bottom: $padding;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 36%;
      width: 2px;
      height: 100%;
      background: $background;
    }
  }

  > .content-wrap {
    @include mobile {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    @include laptop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.hero-wrap1 {
  position: relative;
}

.hero__title {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: $background;
  width: 359px;
  margin-bottom: 16px;
  @include tablet {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.1;
    width: 420px;
    display: flex;
    align-items: center;
    color: $background;
  }
  @include laptop {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    width: 749px;
    display: flex;
    align-items: center;
    color: $background;
    margin-bottom: 32px;
  }
}

.toast {
  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 9px;
    position: absolute;
    width: 128px;
    height: 20px;
    left: 222px;
    top: 45px;
    background: linear-gradient(271.04deg, #00c3ff 14.48%, #ffff1c 81.49%);
    border-radius: 32px;
    // fz
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $primary;
  }

  @include tablet {
    position: absolute;
    top: 55%;
    left: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px;
    height: 30px;
    background: linear-gradient(271.04deg, #00c3ff 14.48%, #ffff1c 81.49%);
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $primary;
  }
  @include laptop {
    position: absolute;
    top: 45%;
    left: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    width: 268px;
    height: 36px;
    background: linear-gradient(271.04deg, #00c3ff 14.48%, #ffff1c 81.49%);
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $primary;
  }
}

.hero-wrap2 {
  margin-top: 16px;
  @include laptop {
    display: flex;
    flex-direction: column;

    .arrow-down-link {
      padding: 0;
      margin-left: auto;
      margin-top: 50px;
    }
  }
}

.hero__subtitle {
  @include mobile {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
  }
  @include tablet {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
  }
  @include laptop {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    width: 310px;
  }
}

// for hidden btn
.--hidden-mobile {
  display: none;
  visibility: hidden;
  @include laptop {
    display: block;
    visibility: visible;
  }
}

.--hidden-laptop {
  @include laptop {
    display: none;
    visibility: hidden;
  }
}

.arrow-down {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    fill: $white;
    &:hover,
    &:focus {
      fill: $accent;
    }
  }
}
