.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 56px;
  padding-bottom: 56px;
  @include desktop {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: 2px solid $background;
    border-bottom: 2px solid $background;
    position: relative;
    padding: 0;
    padding-top: $padding;
    padding-bottom: $padding;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 36%;
      width: 3px;
      height: 100%;
      background: white;
    }
  }
}

.hero-wrap1 {
  position: relative;
  // padding: 108px 0 108px 100px;
}

.hero__title {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: $background;
  width: 359px;
  margin-bottom: 16px;
  @include desktop {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    width: 749px;
    display: flex;
    align-items: center;
    color: $background;
  }
}

.toast {
  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 9px;
    gap: 8px;
    position: absolute;
    width: 128px;
    height: 20px;
    left: 222px;
    top: 45px;
    background: linear-gradient(271.04deg, #00c3ff 14.48%, #ffff1c 81.49%);
    border-radius: 32px;
    // fz
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $primary;
  }

  @include desktop {
    position: absolute;
    top: 46%;
    left: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 8px;
    width: 268px;
    height: 36px;
    background: linear-gradient(271.04deg, #00c3ff 14.48%, #ffff1c 81.49%);
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $primary;
  }
}

.hero-wrap2 {
  margin-top: 16px;
  @include desktop {
    // padding: 108px 100px;
    display: flex;
    flex-direction: column;
  }
}

.hero__subtitle {
  @include mobile {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
  }
  @include desktop {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    width: 310px;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// for hidden btn
.--hidden-mobile {
  display: none;
  visibility: hidden;
  @include desktop {
    display: block;
    visibility: visible;
  }
}

.--hidden-desktop {
  @include desktop {
    display: none;
    visibility: hidden;
  }
}

.secondary {
  padding: 14px 56px;
  gap: 8px;
  width: 350px;
  height: 47px;
  background: $background;
  border: 1px solid $background;
  border-radius: 7px;
  color: black;
}

.arrow-down {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
    fill: white;
    margin-left: auto;
    margin-top: 59px;
  }
}

// about-us

.about-us {
  display: block;
  position: relative;

  @include desktop {
    display: flex;
    padding-top: $padding;
    padding-bottom: $padding;
    &__wrap {
      position: relative;
      padding-right: 106px;
    }
  }
  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: $background;
    @include desktop {
      width: 529px;
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.57;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__wrap {
    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: $background;
    margin-bottom: 16px;
    @include desktop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: $background;
    margin-top: 36px;
    margin-bottom: 56px;
  }

  &__container {
    position: relative;
  }

  &__nav-btn {
    position: absolute;
    top: 20px;
    right: 15%;

    @include desktop {
      left: -150px;
      right: 830px;
      top: -40px;
      z-index: 999;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -56px;
    width: 100%;
    border: 2px solid $background;
    @include desktop {
      bottom: 10px;
    }
  }
}

.prev,
.next {
  width: 24px;
  height: 24px;
}

// out-mission

.our-mission {
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: $background;
    margin-bottom: 16px;
    @include desktop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
    @include desktop {
      width: 529px;
    }
  }

  @include desktop {
    padding-top: $padding;
    padding-bottom: $padding;
    display: flex;
    flex-direction: row-reverse;
  }
  &__wrap {
    @include desktop {
      // padding-left: 106px;
      padding: 176px 106px;
    }
  }
}

// out-activity

.our-activity {
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  @include desktop {
    display: flex;
  }

  &__wrap {
    @include desktop {
      padding: 149px 106px 149px 0;
    }
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: $background;
    margin-bottom: 16px;
    @include desktop {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
    @include desktop {
      width: 529px;
    }
  }

  @include desktop {
    padding-top: $padding;
    padding-bottom: $padding;
  }
  &__wrap {
    @include desktop {
      padding-right: 106px;
    }
  }

  &__nav-btn {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}

.result {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  background: linear-gradient(272.96deg, #00c3ff 4.43%, #ffff1c 90.93%);
  @include desktop {
    padding-top: $padding;
    padding-bottom: $padding;
    // width: 100%;
    height: auto;
    background: linear-gradient(272.96deg, #00c3ff 4.43%, #ffff1c 90.93%);

    .result-title {
      margin-bottom: 38px;
      @include desktop {
        font-family: "Unbounded";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.1;
        color: $primary;
        margin-bottom: 40px;
      }
    }
  }
}

.result-list {
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
}

.result-item {
  flex-direction: column;
  align-items: center;
  &__info {
    @include desktop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 1.1;
      color: $primary;
    }
  }

  &__title {
    @include desktop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      color: $primary;
    }
  }
}

// donate

.donate {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  @include desktop {
    display: flex;
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.donate-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  width: 394px;
  padding: 108px 0px;
}

.dontate-list {
  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
  }
}

.contacts-wrap {
  padding: 184px 140px;
}
