.our-friends {
  padding-top: $padding;
  padding-bottom: $padding;

  &__nav-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    > .prev {
      margin: 0 25px;
    }
  }
}

.our-friends-list {
  display: flex;
  align-items: center;
  height: 300px;
  @include laptop {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    @include laptop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 2);
      height: 300px !important;
      padding: 108px 115px;
      border: 2px solid $background;
    }
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    color: $background;
  }

  &__subtitle {
    width: 291px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
  }
}
