// out-activity

.our-activity {
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: 112px;

  @include desktop {
    display: flex;
  }

  &__wrap {
    @include desktop {
      display: flex;
      padding: 149px 106px 149px 0;
    }
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: $background;
    margin-bottom: 16px;
    @include desktop {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
    @include desktop {
      width: 529px;
    }
  }

  @include desktop {
    padding-top: $padding;
    padding-bottom: $padding;
  }
  &__wrap {
    @include desktop {
      padding-right: 106px;
    }
  }

  &__nav-btn {
    position: absolute;
    @include mobile {
      bottom: -20px;
      right: 40px;
    }

    @include desktop {
      bottom: 20%;
      left: 33%;
    }
  }
}
