// out-activity

.our-activity {
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: 112px;
  > .content-wrap {
    @include laptop {
      display: flex;
    }
  }

  &__container {
    @include laptop {
      margin-right: 70px;
      overflow: hidden;
    }
  }

  @include laptop {
    display: flex;
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &__wrap {
    @include laptop {
      display: flex;
      flex-direction: column;
      margin-right: 106px;
      position: relative;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 16px;

    color: $background;

    @include laptop {
      margin-bottom: 32px;
      font-size: 40px;
      line-height: 1.1;
    }
  }

  &__sub-title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 16px;
    @include laptop {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.2;

      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
    @include laptop {
      width: 529px;
    }
  }

  &__nav-btn {
    position: absolute;
    z-index: 99999;
    @include mobile {
      display: flex;
      bottom: 20px;
      right: 20px;
    }

    .swiper-button-prev3 {
      margin: 0 25px;
      &:hover,
      &:focus {
        fill: $accent;
      }
    }
    .swiper-button-next3 {
      &:hover,
      &:focus {
        fill: $accent;
      }
    }

    @include laptop {
      bottom: 0;
      right: 0;
      z-index: 99999;
      display: flex;
    }
  }
}
