// out-mission

.our-mission {
  position: relative;
  padding-top: $padding-mobile;
  padding-bottom: 112px;
  border-bottom: 2px solid $background;

  > .content-wrap {
    display: block;
    @include laptop {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  @include laptop {
    margin-top: $padding;
    padding-bottom: $padding;
    display: flex;
    flex-direction: row-reverse;
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: $background;
    margin-bottom: 16px;
    @include laptop {
      font-family: "Unbounded";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      color: $background;
      margin-bottom: 32px;
    }
  }

  &__desc {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $background;
    margin-bottom: 32px;
    @include laptop {
      width: 529px;
    }
  }

  &__wrap {
    @include laptop {
      display: flex;
      // justify-content: center;
      flex-direction: column;
      position: relative;
      padding-left: 106px;
    }
  }

  &__nav-btn {
    position: absolute;
    z-index: 99999;

    .swiper-button-prev2 {
      margin: 0 25px;
      &:hover,
      &:focus {
        fill: $accent;
      }
    }
    .swiper-button-next2 {
      &:hover,
      &:focus {
        fill: $accent;
      }
    }

    @include mobile {
      display: flex;
      bottom: 60px;
      right: 40px;
    }

    @include laptop {
      display: flex;
      bottom: 0;
      left: 80;
    }
  }

 
}
