// write-us

.write-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;

  form {
    display: flex;
    flex-direction: column;
  }

  .choose-messenger {
    &__title {
      @include laptop {
        font-family: "Unbounded";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: $background;
      }
    }
  }

  .choose-messenger__label {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: $background;
  }

  &__title {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: $background;
    margin-bottom: 24px;
    @include laptop {
      margin-bottom: 40px;
    }
  }

  .form-wrap {
    display: block;
    @include tablet {
      display: flex;
      align-items: baseline;
      margin-bottom: 16px;
    }
    @include laptop {
      display: flex;
      align-items: baseline;
      margin-bottom: 16px;
    }

    .form-wrap-name {
      display: flex;
      flex-direction: column;
      @include mobile {
        margin-bottom: 16px;
      }
      @include laptop {
        margin-right: 31px;
      }

      .label-name {
        font-family: "Unbounded";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: $background;
        margin-bottom: 6px;
      }
      .field-name {
        @include mobile {
          width: 100%;
        }
        background: $white;
        color: $secondary;
        border: 1px solid $secondary;
        box-shadow: 0px 0px 4px 1px rgba(39, 34, 34, 0.08);
        border-radius: 3px;
        padding: 13px 12px;
        width: 288px;
        height: 48px;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .form-wrap-number {
      display: flex;
      flex-direction: column;
      @include mobile {
        margin-bottom: 16px;
      }
      @include tablet {
        margin-bottom: 16px;
        margin-left: 20px;
      }

      .label-number {
        margin-bottom: 5px;
        font-family: "Unbounded";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: $background;
      }

      .field-number {
        @include mobile {
          width: 100%;
          margin-top: 6px;
        }
        background: $white;
        color: $secondary;
        border: 1px solid $secondary;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        padding: 13px 12px;
        width: 100%;
        min-width: 288px;
        height: 48px;
      }
    }
  }

  textarea {
    width: 100%;
    max-height: 100px;
    margin-top: 16px;
    resize: none;

    font-family: "Unbounded";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    color: $secondary;

    @include laptop {
      background: $white;
      border: 1px solid $secondary;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      padding: 13px 12px;
    }
  }
}

.submit {
  margin-top: 32px;
}

.choose-messenger {
  margin-top: 10px;
  legend {
    margin-bottom: 10px;
  }
}

::placeholder {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: $secondary;
}

.form-wrap-label {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  color: $background;
}

.form-wrap-select {
  &__label {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: $background;
  }
}

.icon_select_mate {
  position: absolute;
  top: 11px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}

// radio

.choose-messenger {
  display: flex;
  flex-direction: column;
}

.choose-messenger [type="radio"]:checked,
.choose-messenger [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
  display: none;
}

.choose-messenger [type="radio"]:checked + .choose-messenger__label,
.choose-messenger [type="radio"]:not(:checked) + .choose-messenger__label {
  position: relative;
  padding: 6px 0 4px 38px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.choose-messenger [type="radio"]:checked + .choose-messenger__label:before,
.choose-messenger [type="radio"]:not(:checked) + .choose-messenger__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  border: 2px solid $background;
  border-radius: 100%;
  background: transparent;
}

.choose-messenger [type="radio"]:checked + .choose-messenger__label:after,
.choose-messenger [type="radio"]:not(:checked) + .choose-messenger__label:after {
  content: "";
  width: 10px;
  height: 10px;
  top: 12.5px;
  left: 5px;
  background: $background;
  position: absolute;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.choose-messenger [type="radio"]:not(:checked) + .choose-messenger__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.choose-messenger [type="radio"]:checked + .choose-messenger__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
